In [1]:
import pandas as pd
import numpy as np
import os
import space_x
import pickle

from space_x.config import INTERIM_DATA_DIR

In [2]:
csv4 = pd.read_csv(os.path.join(INTERIM_DATA_DIR,'Spacex.csv'))
csv3 = pd.read_csv(os.path.join(INTERIM_DATA_DIR,'dataset_part_2.csv'))
csv1 = pd.read_csv(os.path.join(INTERIM_DATA_DIR,'dataset_part_1.csv'))
csv2 = os.path.join(INTERIM_DATA_DIR,'spacex_web_scraped.csv')

In [3]:
csv3.sample(5)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
63,64,2019-05-04,Falcon 9,2482.0,ISS,CCSFS SLC 40,True ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,5.0,3,B1056,-80.577366,28.561857,1
86,87,2020-10-06,Falcon 9,15600.0,VLEO,KSC LC 39A,True ASDS,3,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,13,B1058,-80.603956,28.608058,1
3,4,2013-09-29,Falcon 9,500.0,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,0
89,90,2020-11-05,Falcon 9,3681.0,MEO,CCSFS SLC 40,True ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,5.0,8,B1062,-80.577366,28.561857,1
49,50,2018-05-11,Falcon 9,3750.0,GTO,KSC LC 39A,True ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,5.0,3,B1046,-80.603956,28.608058,1

In [4]:
csv1['Customer'].unique()

array(['SpaceX', 'NASA(COTS)', 'NASA (CRS)', 'MDA', 'SES', 'Thaicom',
       'Orbcomm', 'AsiaSat', 'NASA', 'Turkmenistan National Space Agency',
       'SKY Perfect JSAT Group', 'SKY Perfect JCSAT Group', 'Spacecom',
       'Iridium Communications', 'EchoStar', 'NRO', 'Inmarsat',
       'Bulgaria Sat', 'Intelsat', 'NSPO (Taiwan)', 'USAF',
       'KT Corporation', 'Northrop Grumman', 'GovSat', 'Hispasat',
       'Bangladesh Gov', 'Telesat', 'Telkom', 'CONAE', 'Esâ€™hailSat',
       'Spaceflight Industries, Inc', 'NASA (CCtCap)', 'CSA',
       'SKY Perfect JSAT Corporation', 'South Korea',
       'United States Space Force'], dtype=object)

In [5]:
csv4['Mission_Outcome'].unique()

array(['Success', 'Failure (in flight)',
       'Success (payload status unclear)', 'Success '], dtype=object)

In [6]:
csv4[csv4['Mission_Outcome']=='Success (payload status unclear)']

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
46,2018-01-08,1:00:00,F9 B4 B1043.1,CCAFS SLC-40,Zuma,5000,LEO,Northrop Grumman,Success (payload status unclear),Success (ground pad)